/* 모든 태그의 margin, padding 셋팅 초기화 */
* {
    margin: 0;
    padding: 0;
    /* 리스트 * 표시 없애기 */
    list-style: none;
}

/* a태그 링크 표시 없애기. 글씨 색 바꾸기 */
a {
    text-decoration: none;
    color: black;

}

body {
    width: 100%;
    min-width: 1200px;
}

/* 상단 네비게이션바 만들기 start */
header {
    height: 70px;
    /* header의 위치 고정 */
    position: fixed;
    /* 고정하는 위치 */
    top: 0;
    /* header 태그의 너비 값은 항상 화면의 100%로 유지 */
    width: 100%;
    background-color: #ffffFF;
    /* 네비게이션 바 하단에 들어간 그림자 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

/* header 태그 하단의 nav 태그에 적용하는 css */
header>nav{

    position: relative;
    margin: auto;
    /* nav 태그의 너비 최대값은 1200px. */
    max-width: 1200px;
    /* 화면에 표시되는 너비는 화면 전체 크기에서 120px을 뺀 값으로 지정 */
    width: calc(100%-120px);
    /* header와 높이 똑같게 만들기 */
    height: 70px;
}

/* SSAFY BookCafe와 공지사항 화면 왼쪽에 배치시키기 */
nav> a{
    /* 왼쪽부터 배치 */
    float: left;
    margin-left: 20px;
    /* 모든 텍스트에는 다음 줄의 텍스트와의 간격 유지를 위해서 line 높이가 있음 
    line의 높이를 태그의 높이와 동일하게 적용하면 중앙에 배치되는 효과를 냄 */
    line-height: 70px;
    height: 70px;
}

.header-nav-home {
    font-size: 30px;
    cursor: pointer;
}

.header-nav-menu {
    float : right;
    top: 0;
    width: auto;
    height: auto;

}

.header-nav-menu-item {
    display: inline-block;
    margin-right: 12px;
    height: 70px;
    line-height: 70px;
}

.content {
    margin: 100px auto;
    max-width: 1200px;
}

.content-left {
    float: left;
    width: 25%;
}

.content-main {
    float : right;
    width: 75%;
    /* background-color: red; */
}

.profile {
    width: 100%;
    padding: 10px 10%;
    text-align: center;
    
}

.profile>img{
    width: 70%;
    border-radius: 10px;
}

.store-title{
    text-align: center;
    padding: 10px;
}

#store-display-on,
#store-display-off {
    padding: 10px;
    font-size: 15px;
    line-height: 30px;
    background:gray;
    border-radius: 5px;
}

.store-item li{
    padding: 10px;
    background: #dddddd;
    margin-top: 5px;
    border-radius: 5px;
    text-align: left;
}

.store-area {
    color : maroon;
    font-weight: bold;
    cursor: pointer;
}

.menu {
    padding: 10px;
}

.menu ul {
    overflow: hidden;
}

.menu ul >li {
    float :left;
    margin: 10px;
    width: calc(25%-20px);
    background: #ffffff;
    text-align: center;
}

.menu-item{
    padding: 4px;
    border: 1px solid;
    height: 300px;
}

.menu-item-img{
    height: 80%;
}

.menu-item-img >img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.menu-item-info{
    height: 20%;
    margin-top: 10%;
}

.article {
    padding: 10px 20px;
}

.article > article {
    width: 40%;
    margin-bottom: 20px;
}

.article-popular {
float: left;
}

.article-popular > h3,
.article-new > h3  {
    margin-bottom: 10px;
    }

.article-new{
    float: right;
}

.vote {
    width: 250px;
    /* height: 30px; */
    background-color: rgb(218, 245, 245);
    border-color: rgb(238, 228, 247);
    color: rgb(65, 62, 58);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
  }

.table{
    width : 100%;
    margin-bottom: 10px;
}

.table > tbody >tr> th,
.table > tbody >tr> td {
    padding: 5px;
    line-height: 1.5;
    vertical-align: top;
    border-top:1px solid white;
}

.table > thead >tr> th {
    padding: 10px 5px;
}

.table-striped> tbody > tr:nth-of-type(odd){
    background-color : #f9f9f9;
}

.vote{
    margin:10px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left : 20px
}

.vote-title {
    padding: 10px;
    color: gray;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.vote-question {
    font-weight: bold;
    font-size: 18px;
}

.vote-answer {
    margin-top: 10px;
}

.vote-answer >ul>li {
    margin-bottom: 10px;
}

label img {
    width : 35px;
    border-radius: 3px;
}

.vote-button {
    text-align: right;
    padding-right: 10px;
    margin: 10px;
}

.vote-date {
    font-weight: bold;
    margin: 20px 0 10px;

}

.button {
    background: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 4px;
}

.btn-primary {
    border-color: rgb(128, 0, 128, 0.3);
    background: rgb(128, 0, 128);
    color : white;
}


footer {
    clear : both;
    margin: auto;
    max-width: 1200px;
    height: 70px;
}

footer> ul>li {
    float: left;
    display: inline-block;
    margin-left: 20px;
    height: 70px;
    line-height: 70px;
}


