/* 모든 요소의 css 기본 설정 초기화 하기 위한 선택자 */
* {
    margin: 0;
    padding: 0;
    /* 여백 까지 박스 사이즈에 포함 하기  */
    /* 리스트 요소의 스타일을 없앤다. (기본 : 점) */
    list-style: none;
  }
  
  a {
    /* 앵커 태그의 text 스타일을 없앤다. */
    text-decoration: none;
    /* 글자색 설정 */
    color: black;
  }
  
  /* header 태그 안에 CSS 속성 */
  header {
    height: 70px;
    /* header의 위치 고정 */
    position: fixed;
    /* 고정하는 위치 */
    top: 0;
    /* header 태그의 너비 값은 항상 화면의 100%로 유지 */
    width: 100%;
    background-color: #ffffFF;
    /* 네비게이션 바 하단에 들어간 그림자 */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
  
  /* header의 내용에 들어갈 클래스 선택자. html 파일 참고 */
    header>nav{

    position: relative;
    margin: auto;
    /* nav 태그의 너비 최대값은 1200px. */
    max-width: 1200px;
    /* 화면에 표시되는 너비는 화면 전체 크기에서 120px을 뺀 값으로 지정 */
    width: calc(100%-120px);
    /* header와 높이 똑같게 만들기 */
    height: 70px;
}

nav>div> a{
    /* 왼쪽부터 배치 */
    float: left;
    margin-left: 20px;
    /* 모든 텍스트에는 다음 줄의 텍스트와의 간격 유지를 위해서 line 높이가 있음 
    line의 높이를 태그의 높이와 동일하게 적용하면 중앙에 배치되는 효과를 냄 */
    line-height: 70px;
    height: 70px;
}
  
.header-nav-home {
    font-size: 30px;
    cursor: pointer;
}
  .nav-menu {
    margin-right: 10px;
  }
  
  .content-user-list h1 {
    text-align: center;
  }
  
  .login-page {
    width: 360px;
    padding: 7% 0 8%;
    margin: auto;
  }
  
  .form {
    position: relative;
    z-index: 1;
    background: #ffffff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  /* form 클래스 하위의 input 요소 css 설정을 위한 선택자 */
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  /* form 클래스 하위의 button 요소 css 설정을 위한 선택자 */
  .form button {
    margin: 0 0 15px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #53e3a6;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  
  /* footer 태그 안에 CSS 속성 */
  footer {
    clear : both;
    margin: auto;
    max-width: 1200px;
    height: 70px;
}

footer> ul>li {
    float: left;
    display: inline-block;
    margin-left: 20px;
    height: 70px;
    line-height: 70px;
}

  